<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://shoppa135.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>shoppa135.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Shoppa135</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Shoppa135</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShoppaDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:shoppa135dbserver.database.windows.net,1433;Initial Catalog=shoppa135db;User ID=shoppa135dbuser@shoppa135dbserver;Password=@C5e1352016;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:shoppa135dbserver.database.windows.net,1433;Database=shoppa135db;User ID=shoppa135dbuser@shoppa135dbserver;Password=@C5e1352016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Shoppa.Models.ShoppaDBContext, Shoppa" MigrationConfiguration="Shoppa.Migrations.Configuration, Shoppa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShoppaDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:shoppa135dbserver.database.windows.net,1433;Database=shoppa135db;User ID=shoppa135dbuser@shoppa135dbserver;Password=@C5e1352016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>