@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Web application created by Jose Martinez and Jorge Loo Cheng for the UCSD's CSE 135 class of Spring 2016.</p>
