@model Shoppa.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>
<p>
    Are you sure you want to delete the product named
    <strong>@Html.DisplayFor(model => model.Name)</strong>?
</p>
  


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }

   